server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: tron-legacy-api
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      - source_labels: ['__meta_docker_container_name']
        regex: '/backend[-_]api[-_].*'
        action: keep
    pipeline_stages:
      - json:
          expressions:
            level: level
            msg: msg
            method: method
            path: path
            status: status
            duration: duration
      - labels:
          level:
          msg:
          method:
          path:
      - timestamp:
          source: time
          format: RFC3339Nano
